# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Visual Studio files
Project9/*.sln
Project9/*.opensdf
Project9/*.sdf
Project9/*.suo
Project9/*/.vcxproj

#debug
Project9/Debug/
Project9/Aggregator/Debug/
Project9/Common/Debug/
Project9/DataDestination/Debug/
Project9/DataSource/Debug/
Project9/ipch/
